/* .img-wrapper {
	width: auto;
	height: 300px;
	object-fit: cover;
}
 */
body {

	background-color: #fff;
}

.img-wrapper {
	max-width: auto;
	max-height: 300px;
	border-radius: 10px;
	object-fit: cover;
	// When cursor not pointing at image then zoom back
	transition: 0.75s;
	cursor: zoom-in;
}  

// When cursor pointing at image then zoom in
.card img:hover {
	transition: transform 0.75s ease;
	transform:scale(1.025);
}

.card {
	/* background-color: RGBA(0, 0, 0, 0.01);
	border-radius: 10px; */
	border-style: none;
}
  
.card {
	overflow: hidden;
}

.test {
	overflow: hidden;
}