body {
    background-color: black;
 
}

.height-100 {
    height: 100%;
    width: 100%  
}

.slideshow {
    position: relative;
    /* text-align: center; */
    color: white;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: changeImages 41s infinite;  // length of animation
}

.slideshow-item {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }  
}


// Animation delay for zoom
.gallery-1  {
    animation: zoom 41s infinite;
    animation-delay: 0s
}
.gallery-2  {
    animation: zoom 41s infinite;
    animation-delay: 10s;
}
.gallery-3  {
    animation: zoom 41s infinite;
    animation-delay: 20s; 
}
.gallery-4  {
    animation: zoom 41s infinite;
    animation-delay: 30s; 
}

// Animation delay for changeImages 
.slideshow-item:nth-child(1) {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2) {
    animation-delay: 10s;
}

.slideshow-item:nth-child(3) {
    animation-delay: 20s;
}

.slideshow-item:nth-child(4) {
    animation-delay: 30s;
}
 
.slideshow-item-text {
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0, .7);
    max-width: 60%;
    font-size: 4rem;
  /* width: max-content; */
   
}

@keyframes changeImages {
    25% {        
        opacity: 1;
    }
    40% {        
        opacity: 0;
    }
}

@keyframes zoom {
    100% {
        transform: scale(1.5);
    }    
}
