
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/styles/main.css" media="screen"/>

<div class="slideshow">   
    <div class="slideshow-item">
        <img class="gallery-1" src="/images/RioDeJaneiro.jpg" alt="" />
        <div class="col text-center centered slideshow-item-text">
            <h3 class="text-uppercase font-weight-bold">
              <strong>Welcome to yourcity</strong>     
            </h3>
            <p class="col-md-5 mx-auto h4 hide">
              Post your favorite city
            </p>
            <a href="/cities"><button class="btn btn-outline-primary"><span>ENTER</span></button></a>
        </div> 
    </div>
    <div class="slideshow-item">
        <img class="gallery-2" src="/images/Singapore.jpg" alt="" />
        <div class="col text-center centered slideshow-item-text">
            <h3 class="text-uppercase font-weight-bold">
              <strong>Welcome to yourcity</strong>     
            </h3>
            <p class="col-md-5 mx-auto h4 hide">
              Post your favorite city
            </p>
            <a href="/cities"><button class="btn btn-outline-primary"><span>ENTER</span></button></a>
        </div> 
    </div>
    <div class="slideshow-item">
        <img class="gallery-3" src="/images/SanFrancisco.jpg" alt="" />
        <div class="col text-center centered slideshow-item-text">
            <h3 class="text-uppercase font-weight-bold">
              <strong>Welcome to yourcity</strong>     
            </h3>
            <p class="col-md-5 mx-auto h4 hide">
              Post your favorite city
            </p>
            <a href="/cities"><button class="btn btn-outline-primary"><span>ENTER</span></button></a>
        </div> 
    </div>
    <div class="slideshow-item">
        <img class="gallery-4" src="/images/KualaLumpur.jpg" alt="" />
        <div class="col text-center centered slideshow-item-text">
            <h3 class="text-uppercase font-weight-bold">
              <strong>Welcome to yourcity</strong>     
            </h3>
            <p class="col-md-5 mx-auto h4 hide">
              Post your favorite city
            </p>
            <a href="/cities"><button class="btn btn-outline-primary"><span>ENTER</span></button></a>
        </div> 
    </div>
</div>


