<%- include("../partials/header") %>
    
    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row">
            <div class="col">
                <div>
                    <h3>Please Login</h3>
                    <form action="/login" method="POST" class="mt-3">
                        <input type="text" name="username" placeholder="Your name" class="form-control shadow mb-2"></br>
                        <!-- <input type="text" name="email" placeholder="Your email" class="form-control mb-2"></br> -->
                        <input type="password" name="password" placeholder="Enter a password" class="form-control shadow mb-2"></br>
                            
                        <button type="submit" class="btn btn-outline-primary mb-2">Login</button>
                        <a href="/cities" class="btn btn-outline-secondary mb-2">Cancel</a>
                        <p class="flash"><%= errors %></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <a href="/">Back</a>
    
<%- include("../partials/footer") %> 